.modal {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  width: 100px;

  image {
    width: 200px;

    display: block;
    border-radius: 5px;
  }
}
